.button {
  border-radius: 11px;
  background: #6c5ed4;
  padding: 15px 50px;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;

  width: fit-content;
}
