body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;

  background: #080808;
}

$accent: #6c5ed4;
.container {
  max-width: 1312px;
  margin: 0 auto;
}

@import "../../node_modules/swiper/swiper-bundle";
@import "./bases";
@import "./blocks/header";
@import "./blocks/offer";
@import "./blocks/details";
@import "./blocks/types";
@import "./blocks/form";
@import "./blocks/footer";

@import "./components/mail-phone";
@import "./components/call-me";
@import "./components/buttons";
